// This is my custom style

@import url('https://fonts.googleapis.com/css?family=Federo');
@import url('https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei');
@import url('https://fonts.googleapis.com/css?family=Contrail+One');
@import url('https://fonts.googleapis.com/css?family=Montez');

* {
    margin: 0;
    padding: 0;

}

body {
    font-size: 1rem;
    font-family: 'Federo', sans-serif;
    background: rgb(235, 235, 235);
}

#menu-icon {
    display: none;
}

.navigation {
    position: fixed;
    width: 250px;
    height: 100vh;
    top: 0;
    left: 0;
}

.nav {
    /* display: inline-block; */
    float: left;
}

.icon {
    background: white;
    height: 100vh;
}

.name {
    display: none;
    height: 100vh;
    background: white;
}

.nav li {
    list-style: none;
    border-bottom: 1px solid rgb(214, 214, 214);
    font-size: 1.4rem;
    /* padding-left: 10px; */
    padding: 15px 0 15px 20px;
}

.nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}




#wrapper {
    width: 90%;
    /* background: rgb(185, 185, 185); */
}

.t-text {
    font-family: 'Contrail One', cursive;
}

.t-cmt {
    font-family: 'Montez', cursive;
}

.con {
    height: 135px;
    position: relative;
    overflow: hidden;
}



.p-up {
    position: absolute;
    width: 100%;
    background: rgb(255, 255, 255);
    /* Fallback color */
    background: rgba(255, 255, 255, 0.774);
    /* Black background with 0.5 opacity */
    color: black;
    top: 0;
    left: 0;
}

.bg-img {
    position: absolute;
    top: 0;
    left: 0;
}

#carouselExampleSlidesOnly img {
    height: 400px;
}

#slider {
    padding-left: 10px;
    height: 400px;
    overflow-x: hidden;
}

footer {
    color: aliceblue;
    /* display: flex */
}


@media (max-width:412px) {
    #menu-icon {
        display: block;
        width: 100%;
        color: rgb(77, 0, 87);
    }

    #n-panel {
        display: none;
        width: 100%;
        position: absolute;
        background: white;
    }
    .nav li {
        border-bottom: none;
    }

    .name {
        display: block;
    }
    /* #wrapper{
        display: none;
    }
    footer{
        display: none;
    } */
}
