@import url('https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei');
@import url('https://fonts.googleapis.com/css?family=Unna');

* {
    padding: 0;
    margin: 0;
}

body {
    color: black;
    background: white;
    font-size: 1rem;
    font-family: 'Unna', serif;

}

button {
    background: #11ee058f;
    color: aliceblue;
    width: 300px;
}

button:hover {
    background: purple;
}

.navbar {
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: 1.3rem;
}

.navbar-brand {
    height: 70px;
}

.navbar-toggler:hover {
    background: purple;
    color: aliceblue;
}

.nav-item:hover {
    background: purple;
}

#landing {
    background-image: url("../images/bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 88.5vh;
    color: white;
}

#landing .container {
    padding-top: 10%;
    text-shadow: 2px 2px 5px rgb(92, 1, 128);
}

#landing h1 {
    font-size: 5rem;

}

/* #landing p{
    font-size: 1rem;
    
}  */


/* 
#80d27c,
#f9ce4d 
*/

.section-1 img {
    width: 360px;
}

#right img {
    height: 150px;
}

.box {
    width: 100%;
    height: 150px;
    background-image: url("../images/bar-beverage-cold-248427.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-2 {
    background-image: url("../images/sports.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
}

.section-2 h1,
p {
    color: black;
}

.sports-club {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20%;
}

.section-3 {
    background-image: url("../images/chess.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
}

.section-3 .chess {
    width: 70%;
    margin-top: 180px;
    margin-left: 200px;
}

.section-4 h1 {
    position: relative;
    left: 40%;
    font-size: 4rem;
}

.section-5 {
    color: rgb(255, 255, 255);
    background-color: rgb(48, 1, 48);
}

#social-media li {
    width: 70px;
}

#social-media li:hover {
    background: #11ee058f;
    color: purple;
}



@media(max-width:768px) {
    .section-1 img {
        width: 240px;
        margin-top: 30px;
    }

    .section-3 .chess {
        margin: auto;
    }

    .section-4 h1 {
        left: 0;
        font-size: 3rem;
    }


}